{{outlet}}

<div class="college-banner">
	<div class="profile-tabs-wrap">
		<div class="profile-tabs">
			<ul>
				{{#link-to 'colleges.profile' tagName="li"}}Statistics{{/link-to}}
				{{#link-to 'colleges.restaurants' tagName="li"}}Food &amp; Drink{{/link-to}}
				{{#link-to 'colleges.hotels' tagName="li"}}Hotels{{/link-to}}
				{{#link-to 'colleges.sports' tagName="li"}}Sports{{/link-to}}
				{{#link-to 'colleges.breaks' tagName="li"}}Break Info{{/link-to}}
				{{#link-to 'colleges.gallery' tagName="li"}}Gallery{{/link-to}}

			</ul>	
		</div>
	</div>
	<div class="college-banner-info">
		<div class="college-banner-info-container">
			<div class="college-avatar"><img src="/assets/images/clemson-logo.png"></div>
			<div class="college-contact">
				<h1>Clemson University</h1>
				<span>{{fa-icon "map-marker"}}</span><p>Clemson, SC</p>
				<span>{{fa-icon "globe"}}</span><p>www.clemson.edu</p>
			</div>
		</div>
	</div>
</div>

<div class="body-container">



	<div class="restaurants-container">

		<div class="restaurants-list">
			<ul>
				<li>
					<div class="restaurants-list-avatar">
						<img src="/assets/images/loosechange.jpg">
					</div>
					<div class="restaurants-list-info">
						<div class="restaurants-list-info-top">
							<p class="restaurants-list-title">Loose Change</p>
							<p class="restaurants-list-miles">0.6 miles away</p>
						</div>
						<div class="restaurants-list-info-bottom">
							<p class="restaurants-list-address">328 College Avenue</p>
							<p class="restaurants-list-rating">{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}</p>
						</div>
					</div>
				</li>
				<li>
					<div class="restaurants-list-avatar">
						<img src="/assets/images/loosechange.jpg">
					</div>
					<div class="restaurants-list-info">
						<div class="restaurants-list-info-top">
							<p class="restaurants-list-title">Loose Change</p>
							<p class="restaurants-list-miles">0.6 miles away</p>
						</div>
						<div class="restaurants-list-info-bottom">
							<p class="restaurants-list-address">328 College Avenue</p>
							<p class="restaurants-list-rating">{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}</p>
						</div>
					</div>
				</li>
				<li>
					<div class="restaurants-list-avatar">
						<img src="/assets/images/loosechange.jpg">
					</div>
					<div class="restaurants-list-info">
						<div class="restaurants-list-info-top">
							<p class="restaurants-list-title">Loose Change</p>
							<p class="restaurants-list-miles">0.6 miles away</p>
						</div>
						<div class="restaurants-list-info-bottom">
							<p class="restaurants-list-address">328 College Avenue</p>
							<p class="restaurants-list-rating">{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}{{fa-icon "star"}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="restaurants-profile-feed">

			<div class="restaurants-profile-feed-heading">
				<p>Clemson University Feed</p>
			</div>

			  <div class="feed-post">
			      <ul>
			        <li class="single-post">
			          <div class="feed-info-container">
			            <li class="feed-name">Tiger Town Tavern<span class="feed-time">2 hours ago</span></li>
			            <li class="feed-status">$3 Bourbon wells all night. Come get your drink on!</li>
			          </div>
			        </li>

			        <li class="single-post">
			          <div class="feed-info-container">
			            <li class="feed-name">Kevin Ruck<span class="feed-time">14 hours ago</span></li>
			            <li class="feed-status">Had a great time at #Clemson this weekend!</li>
			          </div>
			        </li>

			        <li class="single-post">
			          <div class="feed-info-container">
			            <li class="feed-name">356 Sushi<span class="feed-time">1 day ago</span></li>
			            <li class="feed-status">$2 off all speciality rolls from 5-7 today! Everybody get your roll on!</li>
			          </div>
			        </li>
			      </ul>
			  </div>
		</div>

	</div>
</div> <!-- Body Container -->