<div class="header-wrap">
	<div class="header">
		<div class="logo"></div>
<!-- 		<div class="header-nav">
			<ul>
				<li>Colleges</li>
				<li>Gallery</li>
				<li>About</li>
				<li>Contact</li>
			</ul>
		</div> -->
	</div>
</div>

<div class="home-sidebar-open" {{action 'openSidebar'}}>{{fa-icon "bars"}}</div>

<div class="home-sidebar-close hidden" {{action 'closeSidebar'}}>{{fa-icon "bars"}}</div>

<div class="home-sidebar">
	<ul>
		<li>Home</li>
	</ul>
</div>



{{outlet}}


<div class="footer-wrap">
	<div class="footer-container">
		<ul>
			<li>
				<h1>Quicklinks</h1>

			</li>
			<li>
				<h1>Get the College Vibe Newsletter</h1>
				<p>Be the first to find out about new schools, restaurants, hotels and information added to the website.</p>
				<form>
					{{input type='text' placeholder='Email Address'}}
					<button type="submit">Sign Up</button>
				</form>
			</li>
			<li>
				<h1>Need Help</h1>
				<p>Get Support</p>
				<p>FAQ</p>
				<p>Contact</p>
				<h1>Stay Connected</h1>
					<p><span>{{fa-icon "facebook"}}</span><span>{{fa-icon "twitter"}}</span><span>{{fa-icon "instagram"}}</span></p>
			</li>
		</ul>
	</div>
</div>

<div class="footer-copyright-wrap">
	<div class="footer-copyright">
		<p>CollegeVibe.com</p>
	</div>
</div>